/* globals */
html {
  overflow-x: hidden;
  background-color: #f8f9fb;
  font-weight: bolder;
  text-transform: capitalize;
  box-sizing: border-box;
  margin:0;
}

.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #f8f9fb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.section-intro {
  max-width: 100vw;
  display:flex;
  margin-bottom: 20vh;
}

.section-partners {
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  font-size: calc(12px + 2vmin);
  margin: 10rem auto;
  color:black;
}

a {
  text-decoration: none;
  color:black;
  font-size: calc(32px + 2vmin);
}

.contact-phone {
  white-space: nowrap;
}


/* desktop only */
@media only screen and (min-width: 769px) {

  a {
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  a:hover {
    color: #25a2c7;
    cursor: pointer;
    transform: scale(1.1);
  }

  .cam-img {
    margin-bottom: 10vh;
  }

  .section-partners a {
    width: 50%;
    height:max-content
  }

  .lts-img{
    max-height: 50%;
    width: 70%;
  }

  .op-img {
    height: 100%;
    width: 70%;
  }
}

/* mobile only */
@media only screen and (max-width: 768px) {

  .App-header {
    flex-direction:column;
    min-height: 80vh;
  }

  .App-logo-text {
    max-width: 90vw;
  }

  .section-intro {
    flex-direction:column;
  }

  .cam-img {
    max-width: 100vw;
    min-height: 100%;
    align-self: flex-start;
    margin: 4rem auto;
  }

  .section-partners {
    flex-direction: column;

  }
  .section-partners a {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        margin: .5rem;
    padding: .5rem;
    margin-bottom: 5rem;
  }

  .section-partners img {
    height: auto;
    width: 100%;
  }
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 90s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}